<app-header-component></app-header-component>
<div class="container">
<section class="container todoapp" style="background-color:silver">
  <header class="header">

    <h1>Todos</h1>
    <div class="col-md-5 well form-group label-floating is-empty" >
    <label style="color: black" for="i5" class="control-label">What needs to be done?</label>
    <input autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" class="form-control" id="i5">
    <span class="help-block" style="color:seagreen">eg: Study programming today at 12am</span>
  </div>
    
  </header>
  <section class="col-md-7  main" *ngIf="todos.length > 0">
    <ul class=" todo-list" style="background-color:darkgray">
      <li style="list-style-type: none" *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="panel panel-success">
         
          
  <div class="panel-heading">
    
    <h3 class="panel-title">Task number {{todos.length == 1 ? 'item' : 'items'}}</h3>
  </div>
  <span><input class="checkbox" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"> </span> 
  <div class="panel-body">
    <!--<label style="text-align: center; font-size:x-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="form-control">{{todo-title}}</label>-->
 <label class="form-control" style="text-align: center; color: black; font-size:large;">{{todo.title}}</label>
  </div> 
  
          <button class="form-control btn btn-raised btn-danger destroy" (click)="removeTodo(todo)">Delete Task</button>
</div>
          
        
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
</div>